.advantages {
background-color: @gray--light;
  &__list {
    list-style: none;
  }
  &__title {
    color: @black;
    font-size: 18px;
    line-height: 24px;
    font-family: @font;
  }
  &__discription {
    color: @gray--dark;
    font-size: 14px;
    line-height: 24px;
    font-family: @font;
  }
}
