.advantages {
  background-color: @gray--light;

  &__list {
    list-style: none;
  }

  &__title {
    color: @black;
    font-size: 18px;
    line-height: 24px;
  }

  &__discription {
    color: @paragraph;
    font-size: 14px;
    line-height: 24px;
  }
}
