.advantages {
  background-color: @gray--light;
  text-align: center;
  margin: 0 auto;

  &__list {
    .list-reset;
  }

  &__title {
    color: @black;
    font-size: 18px;
    line-height: 24px;
  }

  &__discription {
    color: @paragraph;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-direction: row-reverse;

    &__list {
      width: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    &__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    &__item {
      width: 25%;
    }
  }
}
