.comment {
  position: relative;
  margin-top: -42px;
  background-color: @white;
  padding-bottom: 66px;
  margin-bottom: 20px;

  &__switcher {
    display: none;
  }

  &__author {
    padding-top: 43px;
  }

  &__author-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 11px;
  }

  &__author-info {
    margin: 0;
    display: none;
    color: @paragraph;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: @paragraph;
    padding-top: 1px;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}



.comment #comment-radio-1:checked~.comment__nav label[for=comment-radio-1],
.comment #comment-radio-2:checked~.comment__nav label[for=comment-radio-2],
.comment #comment-radio-3:checked~.comment__nav label[for=comment-radio-3] {
  background-color: @white;
  border: 3px solid @gray--dark;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .comment {
    margin: 0;

    &__item {
      display: flex;
      flex-direction: column-reverse;
    }

    &__author {
      padding-top: 35px;
    }

    &__author-name {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &__author-info {
      display: block;
      text-align: center;
      font-size: 14px;
      color: @paragraph;
    }

    &__text {
      font-size: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment {
    margin: 0 auto;
    padding-top: 116px;
    padding-bottom: 34px;

    &__text {
      padding: 0 80px;
    }

    &__author-name {
      font-size: 24px;
    }

    &__author-info {
      font-size: 18px;
    }
  }
}
