.comment {
  position: relative;
  margin-top: -42px;
  background-color: @white;
  padding-bottom: 66px;
  margin-bottom: 20px;

  &__arrow {
    display: none;
  }

  &__arrow-icon {
    position: absolute;
    fill: #bec2c7;
    top: 0;
    z-index: 10;
  }

  &__switcher {
    display: none;
  }

  &__author {
    padding-top: 43px;
  }

  &__author-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 11px;
  }

  &__author-info {
    margin: 0;
    display: none;
    color: @paragraph;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: @paragraph;
    padding-top: 1px;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*stylelint-disable*/
.comment #comment-radio-1:checked ~ .comment__nav label[for="comment-radio-1"],
.comment #comment-radio-2:checked ~ .comment__nav label[for="comment-radio-2"],
.comment #comment-radio-3:checked ~ .comment__nav label[for="comment-radio-3"] {
  background-color: @white;
  border: 3px solid @gray--dark;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .comment {
    margin: 0;

    &__item {
      display: flex;
      flex-direction: column-reverse;
    }

    &__author {
      padding-top: 35px;
    }

    &__author-name {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &__author-info {
      display: block;
      text-align: center;
      font-size: 14px;
      color: @paragraph;
    }

    &__text {
      font-size: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment {
    margin: 0 auto;
    padding-top: 116px;
    padding-bottom: 34px;
    background-image: url("../img/icon-quotes.svg");
    background-size: 80px 63px;
    background-repeat: no-repeat;
    background-position: 50% 5px;

    &__arrow {
      display: block;
      position: absolute;
      top: 143px;
      width: 60px;
      height: 42px;
      font-size: 0;
      line-height: 0;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 22px 41px;
      outline: none;
      opacity: 0.3;
      cursor: pointer;
      z-index: 1;
    }

    &__arrow:hover {
      opacity: 0.6;
    }

    &__arrow:active {
      opacity: 0.1;
    }

    &__arrow--prev {
      left: 10px;
    }

    &__arrow--prev .comment__arrow-icon {
      left: 0;
    }

    &__arrow--next {
      right: 10px;
    }

    &__arrow--next .comment__arrow-icon {
      right: 0;
    }

    &__text {
      padding: 0 80px;
    }

    &__author-name {
      font-size: 24px;
    }

    &__author-info {
      font-size: 18px;
    }
  }
}
