.download-applications {
  display: block;
  background-color: @gray--darken;
  min-height: 271px;
  padding: 0 20px;
  margin-top: -8px;

  &__title {
    color: @white;
    font-weight: 300;
    padding: 0 50px;
    text-align: center;
    display: none;
  }

  &__toggle {
    display: block;
    color: @header-text;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    border: solid 3px @white;
    border-radius: 30px;
    padding: 14px 34px 17px 34px;
    margin-top: 28px;
    margin-bottom: 29px;
  }

  &__store {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    padding-left: 33px;
  }

  &__icon {
    display: flex;
    margin-right: 35px;
    align-items: flex-end;
  }

  &__info {
    display: block;
    color: @header-text;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .download-applications {
    background-color: transparent;
    width: 45%;
    margin: 0 auto;

    &__title {
      display: block;
      font-size: 40px;
      line-height: 48px;
      padding-top: 131px;
      margin-bottom: 31px;
    }

    &__toggle {
      margin-bottom: 45px;
    }

    &__store {
      margin-bottom: 36px;
    }

    &__info {
      font-size: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .download-applications {
    width: 32%;
    padding: 0;
    margin: 0;
    margin-bottom: 122px;

    &__title {
      font-size: 50px;
      line-height: 59px;
      padding-top: 77px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 52px;
    }

    &__toggle {
      font-size: 21px;
      padding: 14px 25px 17px 24px;
      margin-bottom: 67px;
    }

    &__store {
      margin-bottom: 56px;
    }
  }
}
