.download-applications {
  display: block;
  background-color: @gray--darken;
  min-height: 271px;
  margin: 0 auto;

  &__title {
    color: @white;
    font-weight: 300;
    padding: 0 50px;
    text-align: center;
    display: none;
  }

  &__toggle {
    display: block;
    color: @header-text;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
  }

  &__store {
    display: flex;
    justify-content: center;
  }

  &__icon {
    display: flex;
    margin-right: 35px;
    align-items: flex-end;
  }

  &__info {
    display: block;
    color: @header-text;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .download-applications {
    background-color: transparent;
    width: 45%;

    &__title {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .download-applications {
    width: 31%;
  }
}
