
.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 462px;
  background-size: 100%;//Временное решение, чтобы видеть текст
}

@media (min-width: @desktop-width) {
  .page-header {

    &__fonts {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
