.phone-image {
  display: block;
  margin-top: 40px;

  &__sort {
    display: block;
    min-width: 157px;
    margin: 0 auto;
  }

  &__black-white {
    display: none;
  }

  &__color {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .phone-image {
    margin-right: 42px;
    margin-top: -70px;

    &__sort {
      min-width: 268px;
    }
  }
}

@media (min-width: @desktop-width) {
  .phone-image {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__sort {
      min-width: 292px;
      margin: 0;
      margin-left: 5px;
    }

    &__black-white {
      display: block;
    }

    &__color {
      display: block;
    }

    &__color-smile {
      display: block;
    }
  }
}
