.preview-applications {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .preview-applications {
    flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {
  .preview-applications {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
