.preview-applications {
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -67px;
}

@media (min-width: @tablet-width) {
  .preview-applications {
    flex-direction: row-reverse;
    padding-bottom: 110px;
  }
}

@media (min-width: @desktop-width) {
  .preview-applications {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background: none;
  }
}
