.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
    padding-top: 58px;

    &__image {
      width: 38%;
    }

    &__intro {
      font-size: 14px;
      width: 50%;
    }

    &__title {
      margin: 0;
      margin-top: 38px;
      margin-right: 105px;
      font-size: 30px;
      line-height: 36px;
    }

    &__text {
      color: @paragraph;
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
      margin-bottom: 7px;
      padding-right: 10px;
    }

    &__link {
      margin: 0;
      color: @specify;
      text-decoration: underline;
    }
  }
}

@media (min-width: @desktop-width) {
  .research {
    padding-top: 22px;
    padding-bottom: 65px;
    margin-bottom: 70px;

    &__image {
      width: 32%;
    }

    &__intro {
      width: 61%;
    }

    &__title {
      margin-top: 93px;
      margin-bottom: 21px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 31px;
    }

    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .research-wrapper {
    background-color: @gray--light;
  }
}
