.reviews {
  &__list {
    background-color: @gray--light;
  }

  &__author {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: @paragraph;
  }

  &__date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: @paragraph;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: @paragraph;
  }

  &__assessment {
    font-size: 12px;
    line-height: 24px;
    color: @specify;
  }

  &__photo {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;

    &__list {
      width: 47%;
      margin-bottom: 3%;
      margin-right: 3%;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    &__list {
      width: 30%;
    }
  }
}
