@white: #ffffff;
@black: #000000;
@green: #3dc644;
@green--light: #2aab6d;
@red: #f25b26;
@gray--light: #f2f2f2;
@gray: #e5e5e5;
@gray--dark: #283645;
@gray--darken: #1d2631;
@pink: #d22856;
@paragraph: @gray--dark;
@header-text: @white;
@specify: @pink;
@deafult-font: "Open Sans", "Arial", sans-serif;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-only: 959px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
